.o_theme_colorlist_item_color_0 {
    background: linear-gradient(45deg, rgba($dropdown-bg, 0) 0%, rgba($dropdown-bg, 0) 48%, $danger 48%, $danger 52%, rgba($dropdown-bg, 0) 52%, rgba($dropdown-bg, 0) 100%);
}

.o_theme_colorlist_item_color_1 {
    background: #11244e;
}

.o_theme_colorlist_item_color_2 {
    background: #543519;
}