.o_field_password_char {
    width: 100%;
    border: 1px solid $primary;
    display: flex !important;
    justify-content: space-between !important;

    &[data-encrypted="true"] {
        font-family: "password";
        font-size: smaller;
    }

    span {
        width: 100% !important;
    }

    span,
    input {
        &[data-encrypted="true"] {
            font-family: "password";
            font-size: smaller;
        }

        &[data-encrypted="false"] {
            font-family: inherit;
            font-size: inherit;
        }

        padding: 1px 0;
    }

    // input:empty {
    //     font-family: inherit;
    // }

    input::placeholde {
        font-family: inherit;
    }

    button {
        border-radius: 0;
    }

    .o_display_password_button {
        padding-right: 4px !important;
        padding-left: 4px !important;
    }

    .form-control {
        &:focus {
            // @include print-variable(o-input-border-color, $o-brand-primary);
            box-shadow: none;
            // background-color: #FFFFFF;
            border-color: transparent;
        }
    }
}