.data-dashboard {
    // background-color: transparent !important;
    margin: 10px;

    &-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        padding: 5px;
        background-repeat: no-repeat;
        background-image: url(/rtx_project/static/img/large_screen/dashboard_border.png);
        background-size: 100% 100%;
        opacity: 0.8;

        .data-dashboard-content {
            background-color: transparent !important;
            position: relative;
            width: 100%;
            height: 100%;
            padding-left: 10px;
            padding-right: 10px;

            &-header {
                text-align: center;
                height: 30px;
                line-height: 30px;

                &-title {
                    font-size: 14px;
                    color: #fff;
                    font-weight: 700;
                }
            }

            &-body {
                margin-top: 10px;
                display: flex;
                flex-direction: row;

                &-data {
                    flex-direction: column;
                    flex-wrap: nowrap !important;
                    display: flex;
                    flex: 1 1 auto !important;
                    flex-wrap: nowrap !important;

                    background-image: url('/rtx_project/static/img/large_screen/logo.png'); // 设置背景图片的URL
                    background-repeat: no-repeat; // 设置背景图片不重复
                    background-position: right center; // 设置背景图片右对齐并居中
                    background-size:unset; // 设置背景图片大小自适应
                }

                &-logo {
                    display: flex;
                    justify-content: flex-end !important;
                    align-items: center !important;

                    img {
                        width: auto;
                        max-width: 200px;
                        height: auto;
                        /* 保持图片的原始宽高比 */
                    }
                }

                &-card {
                    margin-top: 8px !important;
                    width: 500px;
                    // width: 350px;
                    border: 0 !important;
                    background-color: transparent !important;

                    &-icon {
                        width: 80px;
                        height: 80px;
                    }

                    &-title {
                        margin-top: 0.5rem;
                        font-size: 1rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: .04em;
                        line-height: 1rem;
                        color: #35eda5;
                    }

                    &-value {
                        margin-top: 1rem;
                        font-size: 4rem;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: .04em;
                        line-height: 4rem;
                        color: #ffffff;
                        // color: rgb(48, 194, 123)
                        // color: rgb(162, 55, 207);

                    }
                }
            }
        }
    }
}