.tencent_map_dialog_body {
    // .map_container {
    //     width: 100%;
    //     height: 100%;
    //     position: relative !important;
    // }

    .map_coordinate_info {
        // position: absolute !important;
        left: 20px;
        top: 20px;
        font-size: 14px;
        background: #FFF;
        width: 280px;
        padding: 10px;
        border-radius: 3px;

    }
}